@use "variables.scss" as *;

.catalogo {
  background-color: #1b263b;
  padding: 60px 20px;
  text-align: center;
  color: #ffffff;

  h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  p {
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 0.85;
  }

  .catalogo-container {
    max-width: 900px;
    margin: 0 auto;
  }
}

