@use "variables.scss" as *;

.formulario {
  background: #22304b;
  padding: 40px 20px;
  color: white;

  h2 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 20px;
  }

  form {
    display: grid;
    gap: 15px;

    label {
      font-size: 1rem;
      color: #ccc;
    }

    input,
    textarea {
      padding: 10px;
      font-size: 1rem;
      border-radius: 5px;
      border: none;
      width: 100%;
    }

    input[type="submit"] {
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #288b30;
        color: white;
      }
    }
  }

  .formulario-container {
    max-width: 900px;
    margin: 0 auto;
  }
}

