@use "variables.scss" as *;
@use "mixins" as *;

.formulario {
  background: $fondo-banner;
  padding: 40px 20px;
  color: $blanco;

  h2 {
    color: $azul-oscuro;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  p {
    color: $azul-oscuro;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 20px;
  }

  form {
    display: grid;
    gap: 15px;

    label {
      font-size: 1rem;
      color: $azul-oscuro;
    }

    input,
    textarea {
      padding: 10px;
      font-size: 1rem;
      border-radius: 5px;
      border: none;
      width: 100%;
    }

    input[type="submit"] {
      background-color: $blanco;
      color: $azul-oscuro;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $verde;
        color: $blanco;
      }
    }
  }

  .formulario-container {
    max-width: 900px;
    margin: 0 auto;
  }
}