@use "mixins" as *;
@use "variables.scss" as *;

.motos-grid {
  background-color: $gris-claro;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px;
}

.moto-item {
  background-color: $azul-oscuro;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
}

img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.moto-info {
  padding: 20px;
  text-align: center;
}

h3 {
  color: $blanco;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  color: $blanco;
  margin: 0.3rem 0;
}