@use "variables.scss" as *;
@use "mixins.scss" as *;


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $azul-muy-oscuro;
  padding: 10px 20px;
  height: 70px;
  color: $blanco;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 40px;
  width: auto;
  display: block;
}

.nav-brand {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0;
  line-height: 1;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;

  li {
    a {
      @include nav-link-style($color: $blanco, $hover-bg: $azul-oscuro);
    }
  }
}
