@use "variables.scss" as *;
@use "mixins" as *;

.servicios {
  background: $fondo-banner;
  padding: 40px 20px;
  text-align: center;
  overflow: hidden;


  h2 {
    font-size: 3rem;
    color: $azul-oscuro;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1.5rem;
    color: $azul-oscuro;
    margin-bottom: 20px;
  }

  .servicios-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .servicios-list {
    list-style: none;
    padding: 26.5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    li {
      font-size: 1.5rem;
      font-weight: 300;
      color: $blanco;
      padding: 10px 20px;
      background-color: $azul-oscuro;
      border-radius: 5px;
      box-shadow: 0 4px 8px $sombra-clara;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $blanco;
        color: $azul-muy-oscuro;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}