@use "variables.scss" as *;
@use "mixins" as *;

.sobre-nosotros {
  background-color: $azul-oscuro;
  padding: 60px 20px;
  text-align: center;

  h2 {
    font-size: 3rem;
    color: $blanco;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    color: $blanco;
    margin-bottom: 15px;
    line-height: 1.6;
  }

  .sobre-nosotros-container {
    max-width: 1000px;
    margin: 0 auto;
  }
}