// PALETA PRINCIPAL
$blanco: #ffffff;
$negro: #000000;

// TONOS OSCUROS
$azul-oscuro: #1b263b;
$azul-muy-oscuro: #0a0814;
$gris-oscuro: #333333;

// TONOS CLAROS
$gris-claro: #b3b3b3;
$gris-muy-claro: #ddd;
$gris-super-claro: #f8f9fa;
$gris-medio: #aaaaaa;
$gris-intermedio: #cccccc;


// VERDE
$verde: #288b30;

// TURQUESA / DESTACADOS
$turquesa: #00d1b2;

// OTROS
$texto-principal: #ffffff;
$hover-claro: rgba(255, 255, 255, 0.2);
$sombra-negra: rgba(0, 0, 0, 0.4);
$sombra-clara: rgba(0, 0, 0, 0.1);

// PARA BACKGROUNDS
$fondo-banner: #b3b3b3;
$fondo-formulario: #22304b;